/* variables */
:root {
  --color-primary: #5dd7fa;
  --color-secondary: #facc40;

  --font-primary: 'Roboto', sans-serif;
  --font-weight-bold: 900;
  --font-primary-color: #030303;
  --font-secondary-color: #ffffff;
  --shadow-primary: 0px 0px 9px 0px #848484
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}


/* ---- typography ---- */

/* header */

.header {
  height: 90vh;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
}

.header__logo {

}

.header__text {
  color: var(--font-secondary-color);
}

.header__sub-text {
  color: var(--font-primary-color);
}

.btn {
 background-color: var(--color-secondary);
 border-radius: 100px;
 color: var(--font-secondary-color);
 width: 10rem;
 height: 2rem;
 border: none;
 outline: none;
 box-shadow: var(--shadow-primary);
 text-transform: uppercase;
}
