/* variables */
:root {
  --color-primary: #5dd7fa;
  --color-secondary: #facc40;

  --font-primary: 'Roboto', sans-serif;
  --font-weight-bold: 900;
  --font-primary-color: #030303;
  --font-secondary-color: #ffffff;

  --background-primary: #FAFAFA;

  --box-shadow-secondary: 0 0 14px 5px rgb(226, 225, 225);
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}


/* ---- typography ---- */

/* header */

.header {
  height: 90vh;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
}

.header__logo {
  margin-top: 4.3rem;
  margin-left: 4.8rem;
}

.header__text {
  color: var(--font-secondary-color);
  margin-left: 4.8rem;
  margin-top: 7.4rem;
  font-size: 2.2rem;
  line-height: 3.9rem;
}

.header__sub-text {
  color: var(--font-primary-color);
  font-size: 4.1rem;
  display: block;
}

.btn {
 background-color: var(--color-secondary);
 border-radius: 100px;
 color: var(--font-secondary-color);
 width: 18.5rem;
 height: 2.9rem;
 border: none;
 outline: none;
 box-shadow: var(--shadow-primary);
 margin-top: 5.2rem;
 text-transform: uppercase;
 margin-left: 4.8rem;
 font-size: 1.3rem;
 font-family: inherit;
 font-weight: var(--font-weight-bold);
}


.features{
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}

.feature-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 300px;
  padding: 2rem;
  box-shadow: var(--box-shadow-secondary);
  border-radius: 50px;
  
}

.feature-box__img{
  width: 100px;
  height: auto;
}

.feature-box__title{
  text-align: center;
  text-transform: uppercase;
}

.feature-box__paragraph{
  text-align: center;
}

.footer{
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer__logo{
  flex-basis: 40px;
  height: auto;
}
